version: "3.9"

services:
  postgres:
    image: postgres:16
    container_name: task_management_postgres
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: task_management
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
